:root {
  --darkest-theme-color: #00162c;
  --darker-theme-color: #02274b;
  --dark-theme-color: #003d7a;
  --medium-theme-color: #1e90ff;
  --light-theme-color: #3493f2;
  --lighter-theme-color: #76b7f7;
  --lightest-theme-color: #bddeff;
}

.App {
  font-family: optima, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--darker-theme-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--lightest-theme-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div {
  margin-bottom: 10px;
}